VITE_CONVEX_URL=

# Convex backend environment variables:
# Set these with `npx convex env set NAME value`.
# INITIAL_CR_EMAILS can contain comma-separated emails.
INITIAL_CR_EMAILS=2262091038@uttara.ac.bd
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
JWT_PRIVATE_KEY=
JWKS=
